body {
    background-color: rgba(46, 137, 255, 0.2);
}
header {
    background-color: #fff;
    overflow: auto;
}
header > a {
    float: left;
}
header > a > img {
    width: 150px;
    height: 150px;
}
header > ul {
    margin-top: 50px;
}
header > ul > li{
    font-size: 20px;
    margin-right: 10px;
}
.btn {
    border-radius: 20px;
    width: 150px;
}
.login {
    background-color: #fff;
    color: #000;
}
.register {
    background-color: #2e89ff;
    color: #fff;
}
.login:hover {
    background-color: #fff;
    color: #000;
}
.register:hover {
    background-color: rgba(46, 137, 255, 0.9);
    color: #fff;
    border: none;
}
.login:focus, .login:active {
    background-color: #fff;
    color: #000;
    outline: none;
    box-shadow: none;
}
.register:focus, .register:active{
    background-color: #2e89ff;
    color: #fff;
    outline: none;
    box-shadow: none;
}
.container-text {
    margin-top: 60px;
}
.container-text > h1 {
    font-size: 50px;
    font-weight: bold;
}
.container-text > p {
    /*font-size: 25px;*/
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.44em;
    margin-top: 15px;
}
.container-text > a.register {
    width: 400px;
    margin-top: 15px;
}
div > .logo {
    /*margin-left: auto;
    margin-right: auto;
    display: block;*/
    margin-left: 360px;
    margin-top: 60px;
    
}
footer {
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0%;
    left: 0%;
}
/*-------------------------------------------login-----------------------------*/
div > .illustration {
    width: 400px;
    height: 400px;
}
.form-container {
    padding: 50px;
    padding-top: 55px;
}
.form-container > h1 {
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
button.register {
    width: 555px;
    margin-left: 10px;
    margin-top: 20px;
}
.form-msg {
    text-align: center;
    font-size: 14px;
    margin-top: 1px;
}
.form-msg > a {
    text-decoration: none;
    color: #2e89ff;
    font-weight: bold;
}
/*----------------------------------------------------------------index-------------------------------------------------------------------*/
.nav-links{
    color: #2e89ff;
    font-weight: bold;
}
.row1 {
    margin-top: 120px;
}
.extract {
    margin-left: 50px;
}
/*------------------------------------------------------------Scraping-----------------------------------------------------*/
.form-container1 {
    width: 500px;
    background-color: #fff;
    padding: 20px;
    margin-top: 120px;
    margin-right: 0;
    box-shadow: 2px 2px #fff;
    border-radius: 10px;
    float: right;
}
.form-container1 input[type="submit"] {
    width: 460px !important;
}
#export-container {
    width: 500px;
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 2px 2px #fff;
    border-radius: 10px;
}
.rotate-vert-center {
	-webkit-animation: rotate-vert-center 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both 2;
	animation: rotate-vert-center 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both 2;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-5-27 19:34:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-vert-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  