{% extends "base.html" %}
{% block title %}ScrapIt | Scrape data you need{% endblock %}
{% block content%}
<div class="row">
    <div class="container-text col-md-6">
        <h1>ScrapIT Made Automations and Extraction Easy</h1>
        <p>If you are seeking to grow your business then you are in the right place.ScrapIt helps you to reach the right audience</p>
        <a class="nav-link btn btn-primary register" href="register">Sign Up</a>
    </div>
    <div class="col-md-6">
        <img src="../static/assets/ScrapIT-removebg-preview1.png" alt="logo" class="logo">
    </div>
</div>
{% endblock%}