<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>ScrapIt | Scrape data you need</title>
</head>
<body>
    <header>
        <a class="navbar-brand" href="#">
            <img src="../static/assets/ScrapIT.png" alt="logo">
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link nav-links" href="{{ url_for('welcome') }}">Home</a>
              </li>
            <li class="nav-item">
              <a class="nav-link nav-links" href="{{ url_for('extract') }}">Extract</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-links" href="{{ url_for('message') }}">Automate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-links" href="{{ url_for('logout') }}">Log Out</a>
              </li>
          </ul>
    </header>
    <main class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../static/assets/undraw_Social_media_re_w12q.svg" alt="" class="illustration">
            </div>
            <div class="form-container1 col-md-6" style="margin-top: 50px;padding-top: 35px;">
                <form action="{{ url_for('automate') }}" method="post">
                    <h2 id="send-msg" style="margin-bottom: 15px;color: #2e89ff;">#Reach Your Audience</h2>
                     <div class="mb-3">
                        <!--<input type="text" class="form-control form-control-lg" name="post_url" id="post_url" placeholder="Enter The Post URL">-->
                        <select name="post_url" class="form-control" id="" style="max-width: 100%;text-overflow: ellipsis;overflow: hidden;">
                            <option>Select Post</option>
                            {% for row in data %}
                                <option style="overflow: hidden;">{{ row["post_url"]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <!--<input type="text" class="form-control form-control-lg" name="post_url" id="post_url" placeholder="Enter The Post URL">-->
                        <select name="gender" class="form-control" id="" style="max-width: 100%;text-overflow: ellipsis;overflow: hidden;">
                            <option>Select Gender</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <textarea name="message" class="form-control" id="message" cols="48" rows="5">Type your message here ...</textarea>
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="Send" name="submit" class="btn btn-primary form-control form-control-lg">

                    </div>
                </form>
            </div>
        </div>
       
      
    </main>
</body>
</html>